.ch-para {
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.dropzone-pv {
  text-align: center;
}

.checkout-item-list {
  margin: 50px auto;
  max-width: 850px;
  padding: 0;
  list-style-type: none;

  li {
    height: 70px;
    text-transform: uppercase;
    font-size: 16pt;
    position: relative;
    border: 1px solid $mid_grey;
    margin-bottom: 10px;

    .checkout-item-img {
      width: 50px;
      height: 50px;
      margin: 10px;
    }

    span {
      @include respond-to(phone) {vertical-align: top;
        padding-top: 10px;
        display: inline-block;
        font-size: 10pt;
        max-width: 40%;}
      @include respond-to(smalltablet) {vertical-align: top;
        padding-top: 10px;
        display: inline-block;
        font-size: 10pt;
        max-width: 40%;}
    }

    .select-container {
      font-size: 16px;
      position: relative;
      display: inline-block;
      float: right;

      select {
        outline: none;
        -webkit-appearance: none;
        display: block;
        padding: 1.2em 3em 1.45em 1.5em;
        margin: 0;

        transition: border-color 0.2s;
        border: 3px solid #EB5168;
        border-radius: 0;

        background: #fff;
        color: #555;
        line-height: normal;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
      }

      .select-arrow {
        background: #fff;
        bottom: 5px;
        position: absolute;
        right: 3px;
        top: 5px;
        width: 40px;
        pointer-events: none;
      }
      .select-arrow:before {
        content: '';
        position: absolute;
        top: 50%;
        right: 24px;
        margin-top: -5px;
        pointer-events: none;
        border-top: 10px solid #EB5168;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
      }

      .select-arrow:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 28px;
        margin-top: -5px;
        pointer-events: none;
        border-top: 6px solid #fff;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
      }
    }
  }


}

#checkout-form {
  margin-bottom: 50px;

  .formbutton {
    width: 90%;
    max-width: 940px;
    margin: 0 auto;
    display: block;
  }

  .packaging-section {
    border-bottom: 10px solid #db4c38;
    padding-bottom: 50px;
    img {
      width: 90%;
      max-width: 250px;
      display: block;
      margin: 0 auto 15px;
    }

    .w-col-6 {
      display: inline-block;
      width: 49.5%;
      text-align: center;

      @include respond-to(phone) {width: 49%;}
      @include respond-to(smalltablet) {width: 49%;}

    }

    input[type=checkbox] {
      font-size: xx-large;
      @include respond-to(phone) {display: block; margin: 0 auto;}
      @include respond-to(smalltablet) {display: block; margin: 0 auto;}

    }

    span {
      font-weight: 300;
      text-transform: uppercase;
      font-size: 15px;
    }
  }
}

