/vendor
/node_modules
Homestead.yaml
.env
/.idea
/public/useruploads/logos/*
/public/images/adminuploads/products/*/*
/public/images/adminuploads/categories/*/*
/public/images/adminuploads/versions/*/*
/public/images/adminuploads/
