.checkoutsection {
  border-bottom: 10px solid #db4c38;
}
.instructionstext {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.checkoutlistsection {
  border-bottom: 10px solid #db4c38;
}
.productlistul {
  margin-top: 50px;
  margin-bottom: 50px;
  list-style-type: none;
}
.uploadimagesection {
  border-bottom: 10px solid #db4c38;
  padding: 0 10px;
}
.uploadbutton {
  display: block;
  width: 300px;
  height: 300px;
  margin: 50px auto;
  padding: 29px 14px 42px;
  border-style: none;
  border-radius: 5px;
  background: repeating-linear-gradient(
                  45deg,
                  $primary_blue,
                  $primary_blue 10px,
                  lighten($primary_blue, 10%) 10px,
                  lighten($primary_blue, 10%) 20px
  );
  color: white;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  letter-spacing: 0.5px;
  list-style-type: none;

  @include respond-to(phone) {width: 200px; height: 200px; font-size: 32px; line-height: 40px;}
  @include respond-to(smalltablet) {width: 200px; height: 200px; font-size: 32px; line-height: 40px;}

}
.uploadbutton:hover {
  background-color: #2daccc;
  color: white;
}
.uploadtext {
  margin-top: 25px;
  margin-bottom: 25px;
  font-family:'Open Sans', sans-serif;
  font-size: 23px;
  line-height: 33px;
  text-align: center;
  text-transform: uppercase;

  @include respond-to(phone) {font-size: 17px; line-height: 25px;}
  @include respond-to(smalltablet) {font-size: 17px; line-height: 25px;}

}
.uploadcontainer {
  margin-top: 0px;
  margin-bottom: 0px;
}
.yourdeatilsform {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0 10px;
}
.additionalinfofieldlabel {
  text-transform: uppercase;
}
.additionainfotextfield {
  height: 56px;
}
.quantitiestext {
  color: #db4c38;
  font-size: 20px;
  font-weight: 600;
}
.highlighttext {
  color: #db4c38;
}

