$navbar-inverse-bg: #184f5e;
$navbar-inverse-color: #C8E3C6;
$navbar-inverse-link-color: #C8E3C6;

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "partials/sweetalert";
@import "variables/colours";
@import "partials/general";
@import "partials/dropzonepreview";
@import "partials/dropzone";
@import "partials/buttons";
@import "admin/partials/pageheader";
@import "admin/partials/productbox";
@import "admin/partials/usercard";
@import "admin/partials/quotepreview";
@import "admin/partials/quoterequest";
@import "admin/partials/productindex";

