.dash-page-heading {
  color: $primary_blue;
}

.dash-section-heading {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid $primary_red;
}

.promo-section {
  min-height: 450px;
}