.stats-block {

  .stat-card {

    .stat-num {
      display: block;
      font-size: 100px;
      text-align: center;
      color: $soft_green;
      border-bottom: 3px solid $soft_green;
    }

    .stat-name {
      text-transform: uppercase;
      font-family: 'Open Sans', Helvetica Neue, Helvetica, Arial;
      color: $primary_blue;
      margin: 0.5em;
      font-size: 1.25em;
      display: block;
      text-align: center;
    }
  }
}