.order-details {

  .detail-label {
    color: $primary_red;
    font-weight: 600;
  }
}

.order-show-items {

  .item-thumb {
    max-width: 80px;
  }

  td:not(:first-child) {
    padding-top: 30px;
  }
}