.products-list {

  [v-cloak] {
    display: none;
  }

  .searchbar {
    max-width: 300px;
    padding-top: 25px;
  }

  .results-header {
    font-size: 1.5em;
    color: $soft_green;
  }

  .results-list {
    list-style-type: none;
    padding-left: 0;
  }

  .result-item {
    margin: 20px 0;
    padding: 5px 15px;
    border: 1px solid $soft_green;
    .result-image {
      max-width: 80px;
    }

    .result-name {
      text-transform: uppercase;
      font-size: 120%;
      color: $primary_blue;
      padding-left: 50px;
    }
  }
}