.gdb-form {
  max-width: 600px;
  margin: 30px auto;
  @include respond-to(phone) {padding-left: 5px;}
  @include respond-to(smalltablet) {padding-left: 5px;}
  @include respond-to(largetablet) {padding-left: 5px;}

  .gdb-form-group {
    width: 100%;
    label {
      display: block;
      color: $soft_green;
      padding-left: 15px;
    }

    input, textarea {
      width: 90%;
      display: inline-block;
      margin: 0 15px 10px;
    }

    input {
      height: 32px;
    }

    textarea {
      height: 120px;
      resize: none;
      border: 1px solid #e5e5e5;
    }

    button[type=submit] {
      width: 300px;
      display: block;
      height: 3em;
      color: #ffffff;
      background: $soft_green;
      border-radius: 0;
      text-align: center;
      margin: 20px auto;
      text-transform: uppercase;

      &:hover {
        background: $soft_orange;
      }
    }

  }
}