.category-wrapper {
  position: relative;
  overflow: hidden;

  .category-back-panel {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
//    background: $primary_blue;

    img {
      height: 100%;
      width: auto;
      margin: 0;
      padding: 0;
    }
    

  }
  .category-front-panel {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,.3);
    transition: .5s;
    transform: translate3d(0,86%,0);

    @include respond-to(phone) {transform: translate3d(0,75%,0);}
    @include respond-to(smalltablet) {transform: translate3d(0,75%,0);}
    @include respond-to(largetablet) {transform: translate3d(0,75%,0);}

    h1 {
      background: $primary_blue;
      color: #ffffff;
      padding: 10px 0;
      margin: 0;

      &.towels {
        font-size: 22px;

        @include respond-to(phone) {font-size: 14px;}
        @include respond-to(smalltablet) {font-size: 14px;}
        @include respond-to(largetablet) {font-size: 14px;}
      }
    }

    p {
      position: absolute;
      left: 0;
      bottom: 50%;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      font-family: 'Bitter', Helvetica Neue, Helvetica, Arial;
      color: #ffffff;
      text-shadow: 2px 2px 2px #333;
      font-size: 24px;
    }
  }

  &:hover .category-front-panel {
    transform: translate3d(0,0,0);
  }

}

