.category-product-list {
  .product-item {
    width: 32%;
    padding: 12px 40px;
    display: inline-block;
    font-family: 'Open Sans', Helvetica Neue, Helvetica, Arial;
    vertical-align: top;

    @include respond-to(phone) {
      width: 100%;
    }
  }

  .product-item-image {
    display: block;
    width: 80%;
    margin: 1em auto;
  }

  .product-item-heading {
    text-align: center;
    min-height: 70px;
    @include respond-to(phone) {height: auto; min-height: 0;}
    @include respond-to(smalltablet) {font-size: 16px; line-height: 24px;}
    @include respond-to(largetablet) {font-size: 16px; line-height: 24px;}

  }

  .product-item-description {
    margin-bottom: 20px;
    min-height: 140px;
    overflow: hidden;
    @include respond-to(phone) {height: auto; min-height: 0;}
    @include respond-to(smalltablet) {height: auto; min-height: auto;}

  }
}