.mission-container .mission-image {
  opacity: 0;
  animation: slideFromLeft 2s 0s ease forwards;
  transform: translate3d(0,0,0);
  display: none;
}

@keyframes slideFromRight {
  0% {opacity: 0; transform: translate3d(300px,0,0)}
  50% {opacity: 1;}
  100% {opacity: 1; transform: translate3d(0px,0,0)}
}

.mission-column-right .p {
  opacity: 0;
  transform: translate3d(0,0,0);
  animation: slideFromRight 1s 0s ease forwards;
  padding: 0 0 0 1em;
  font-size: 1.65em;
  font-family: 'Bitter', Helvetica Neue, Helvetica, Arial;
  line-height: 1.6;
  font-weight: 500;
  color: #ffffff;
  border-left: 10px solid #ffffff;

  @include respond-to(phone) {font-size: 1.1em;}
  @include respond-to(smalltablet) {font-size: 1.1em;}

}

.mission-section {
  background-image: url(../../images/pages/silhouette_b.jpg);
  background-size: cover;
  background-position-y: 100%;
  min-height: 600px;

  @include respond-to(phone) {background-position-x: 100%;}
  @include respond-to(smalltablet) {background-position-x: 100%;}

  @include respond-to(phone) {background-image: url('../../images/pages/414_silhouette_b.jpg');}
  @include respond-to(smalltablet) {background-image: url('../../images/pages/720_silhouette_b.jpg');}
  @include respond-to(largetablet) {background-image: url('../../images/pages/970_silhouette_b.jpg');}
  @include respond-to(desktop) {background-image: url('../../images/pages/1200_silhouette_b.jpg');}

}